@model MIS_Classroom.Models.TechengineeMisTeacher
@{
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="management-title">Edit Teacher</h2>
<form id="editTeacherForm" asp-action="EditTeacher" method="post">
    <input type="hidden" asp-for="TeacherId" />

    <div class="mb-3">
        <label for="teacherName" class="form-label">Name</label>
        <input type="text" class="form-control" id="teacherName" name="Name" value="@Model.Name" required>
    </div>

    <div class="mb-3">
        <label for="teacherEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" id="teacherEmail" name="Email" value="@Model.Email" required>
    </div>

    <div class="mb-3">
        <label for="subjectSelect" class="form-label">Subject</label>
        <select class="form-select" id="subjectSelect" name="SubjectCode" required>
            @foreach (var subject in ViewBag.Subjects)
            {
                <option value="@subject.SubjectCode" @(subject.SubjectCode == Model.SubjectCode ? "selected" : "")>@subject.SubjectName</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label for="teacherPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="teacherPassword" name="Password" >
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
