@model IEnumerable<MIS_Classroom.Models.TechengineeMisQuestion>

@{
    Layout = "/Areas/Teacher/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-5 mb-4">List of Questions</h1>
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.SuccessMessage
    </div>
}

<div class="card">
    <div class="card-body">
        <form id="subjectForm">
            <ol class="list-group list-unstyled" id="sortable">
                @foreach (var question in Model)
                {
                    <li class="list-group-item mb-3" data-question-id="@question.QuestionId">
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Drag icon -->
                            <div class="drag-icon" style="cursor: grab;">
                                <img src="~/Dragicon.png" alt="Drag Icon" style="height: 20px; width: 20px;" />
                            </div>
                            <div class="question-container" style="width: 60%; text-align: justify">
                                <p>@question.Position. @question.QuestionsTxt</p>
                            </div>
                            <div class="button-container" style="width: 30%">
                                <input type="hidden" id="subjectCode" name="subjectCode" value="@question.SubjectCode">
                                <a href="/Teacher/Home/ViewAnswers/@question.QuestionId" class="btn btn-primary me-2">View Answers</a>
                                <a href="/Teacher/Home/EditQuestion/@question.QuestionId" class="btn btn-primary me-2">Edit</a>
                                <button type="button" class="btn btn-danger delete-button" data-question-id="@question.QuestionId" data-question-text="@question.QuestionsTxt">Delete</button>
                            </div>
                        </div>
                    </li>
                }
            </ol>
        </form>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Question</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="deleteForm" method="post" action="/Teacher/Home/DeleteQuestion">
                    <input type="hidden" name="id" id="deleteQuestionId" />
                    <p class="mb-3">Are you sure you want to delete the following question?</p>
                    <p><span class="fw-bold">Question Text:</span> <span id="deleteQuestionText"></span></p>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.delete-button').click(function () {
                var questionId = $(this).data('question-id');
                var questionText = $(this).data('question-text');

                $('#deleteQuestionId').val(questionId);
                $('#deleteQuestionText').text(questionText);

                $('#deleteModal').modal('show');
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#sortable").sortable({
                axis: "y",
                handle: ".drag-icon",
                update: function (event, ui) {
                    var questionIds = $("#sortable li").map(function () {
                        return $(this).data("question-id");
                    }).get();

                    $.ajax({
                        url: "/Teacher/Home/UpdatePositions",
                        method: "POST",
                        data: { questionIds: questionIds, subjectCode: $("#subjectCode").val() },
                        success: function (response) {
                            location.reload();
                        },
                        error: function (xhr, status, error) {
                            console.error("An error occurred while updating positions: " + error);
                        }
                    });
                }
            });
        });
    </script>
}
